<!-- Single Post -->
                    <%if(typeof editorialSinglePostData != 'undefined'){  %>
                        <% editorialSinglePostData.forEach((editorialSingleData)=>{
                            let d = new Date(editorialSingleData.article_date) %>
                    <div class="single-blog-post style-2">
                        <div class="post-thumb">
                            <a href="/single-article/<%=editorialSingleData.article_id%>"><img src="/img/bg-img/<%=editorialSingleData.image_name%>" alt=""></a>
                        </div>
                        <div class="post-data">
                            <a href="/single-article/<%=editorialSingleData.article_id%>" class="post-title">
                                <h6><%=editorialSingleData.article_title%></h6>
                            </a>
                            <div class="post-meta">
                                <div class="post-date"><a href="#"><%=dateAndTime.format(d,' MMMM DD, YYYY')%></a></div>
                            </div>
                        </div>
                    </div>
                     <% }) %>
                        <% } %>
