<!-- Footer Widget Area -->
                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="footer-widget-area mt-80">
                            <!-- Footer Logo -->
                            <div class="footer-logo">
                                <a href="/"><img src="img/core-img/logo.png" alt=""></a>
                            </div>
                            <!-- List -->
                            <%if(typeof footerContactWidgetData != 'undefined'){  %>
                            <ul class="list">
                                <li><a href="mailto:contact@youremail.com"><%=footerContactWidgetData.mail%></a></li>
                                <li><a href="tel:+4352782883884"><%=footerContactWidgetData.phone%></a></li>
                                <li><a href="http://yoursitename.com"><%=footerContactWidgetData.website%></a></li>
                            </ul>
                             
                            <% } %>
                        </div>
                    </div>

                    <!-- Footer Widget Area -->
                    <div class="col-12 col-sm-6 col-lg-2">
                        <div class="footer-widget-area mt-80">
                            <!-- Title -->
                            <%if(typeof footerPoliticsWidgetData != 'undefined'){  %>
                            <h4 class="widget-title"><%=footerPoliticsWidgetData.title%></h4>
                            <!-- List -->
                            <ul class="list">
                                <li><a href="#"><%=footerPoliticsWidgetData.business%></a></li>
                                <li><a href="#"><%=footerPoliticsWidgetData.markets%></a></li>
                                <li><a href="#"><%=footerPoliticsWidgetData.tech%></a></li>
                                <li><a href="#"><%=footerPoliticsWidgetData.luxury%></a></li>
                            </ul>
                            <% } %>
                        </div>
                    </div>

                    <!-- Footer Widget Area -->
                    <div class="col-12 col-sm-4 col-lg-2">
                        <div class="footer-widget-area mt-80">
                            <!-- Title -->
                            <%if(typeof footerFeaturedWidgetData != 'undefined'){  %>
                            <h4 class="widget-title"><%=footerFeaturedWidgetData.title%></h4>
                            <!-- List -->
                            <ul class="list">
                                <li><a href="#"><%=footerFeaturedWidgetData.football%></a></li>
                                <li><a href="#"><%=footerFeaturedWidgetData.golf%></a></li>
                                <li><a href="#"><%=footerFeaturedWidgetData.tennis%></a></li>
                                <li><a href="#"><%=footerFeaturedWidgetData.motorsport%></a></li>
                                <li><a href="#"><%=footerFeaturedWidgetData.horseracing%></a></li>
                                <li><a href="#"><%=footerFeaturedWidgetData.equestrian%></a></li>
                                <li><a href="#"><%=footerFeaturedWidgetData.sailing%></a></li>
                                <li><a href="#"><%=footerFeaturedWidgetData.skiing%></a></li>
                            </ul>
                            <% } %>
                        </div>
                    </div>

                    <!-- Footer Widget Area -->
                    <div class="col-12 col-sm-4 col-lg-2">
                        <div class="footer-widget-area mt-80">
                            <!-- Title -->
                            <%if(typeof footerFAQWidgetData != 'undefined'){  %>
                            <h4 class="widget-title"><%=footerFAQWidgetData.title%></h4>
                            <!-- List -->
                            <ul class="list">
                                <li><a href="#"><%=footerFAQWidgetData.aviation%></a></li>
                                <li><a href="#"><%=footerFAQWidgetData.business%></a></li>
                                <li><a href="#"><%=footerFAQWidgetData.traveller%></a></li>
                                <li><a href="#"><%=footerFAQWidgetData.destinations%></a></li>
                                <li><a href="#"><%=footerFAQWidgetData.features%></a></li>
                                <li><a href="#"><%=footerFAQWidgetData.fooddrink%></a></li>
                                <li><a href="#"><%=footerFAQWidgetData.hotels%></a></li>
                                <li><a href="#"><%=footerFAQWidgetData.partnerhotels%></a></li>
                            </ul>
                            <% } %>
                        </div>
                    </div>

                    <!-- Footer Widget Area -->
                    <div class="col-12 col-sm-4 col-lg-2">
                        <div class="footer-widget-area mt-80">
                            <!-- Title -->
                            <%if(typeof footerMoreWidgetData != 'undefined'){  %>
                            <h4 class="widget-title"><%=footerMoreWidgetData.title%></h4>
                            <!-- List -->
                            <ul class="list">
                                <li><a href="#"><%=footerMoreWidgetData.fashion%></a></li>
                                <li><a href="#"><%=footerMoreWidgetData.design%></a></li>
                                <li><a href="#"><%=footerMoreWidgetData.architecture%></a></li>
                                <li><a href="#"><%=footerMoreWidgetData.arts%></a></li>
                                <li><a href="#"><%=footerMoreWidgetData.autos%></a></li>
                                <li><a href="#"><%=footerMoreWidgetData.luxury%></a></li>
                            </ul>
                            <% } %>
                        </div>
                    </div>