 <!-- Top Header Area -->
        <div class="top-header-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="top-header-content d-flex align-items-center justify-content-between">
                            <!-- Logo -->
                            <div class="logo">
                                <a href="/"><img src="/img/core-img/logo.png" alt=""></a>
                            </div>

                            <!-- Login Search Area -->
                            <div class="login-search-area d-flex align-items-center">
                                <!-- Login -->
                                <div class="login d-flex">
                                    <a href="#">Login</a>
                                    <a href="#">Register</a>
                                </div>
                                <!-- Search Form -->
                                <div class="search-form">
                                    <form action="#" method="post">
                                        <input type="search" name="search" class="form-control" placeholder="Search">
                                        <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Navbar Area -->
        <div class="newspaper-main-menu" id="stickyMenu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="newspaperNav">

                        <!-- Logo -->
                        <div class="logo">
                            <a href="/"><img src="/img/core-img/logo.png" alt=""></a>
                        </div>

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- close btn -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    <li class="active"><a href="/">Home</a></li>
                                    <li><a href="#">Pages</a>
                                        <ul class="dropdown">
                                            <li><a href="/">Home</a></li>
                                            <li><a href="/categories/1">Catagories</a></li>
                                            <li><a href="/single-article/1">Single Articles</a></li>
                                            <li><a href="/about-us">About Us</a></li>
                                            <li><a href="/contact">Contact</a></li>
                                            <li><a href="#">Dropdown</a>
                                                <ul class="dropdown">
                                                    <li><a href="/">Home</a></li>
                                                    <li><a href="/categories/1">Catagories</a></li>
                                                    <li><a href="/single-article/1">Single Articles</a></li>
                                                    <li><a href="/about-us">About Us</a></li>
                                                    <li><a href="/contact">Contact</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Mega Menu</a>
                                        <div class="megamenu">
                                            <ul class="single-mega cn-col-4">
                                                <li class="title">Catagories</li>
                                                <li><a href="/">Home</a></li>
                                                <li><a href="/categories/1">Catagories</a></li>
                                                <li><a href="/single-article/1">Single Articles</a></li>
                                                <li><a href="/about-us">About Us</a></li>
                                                <li><a href="/contact">Contact</a></li>
                                            </ul>
                                            <ul class="single-mega cn-col-4">
                                                <li class="title">Catagories</li>
                                                <li><a href="/">Home</a></li>
                                                <li><a href="/categories/1">Catagories</a></li>
                                                <li><a href="/single-article/1">Single Articles</a></li>
                                                <li><a href="/about-us">About Us</a></li>
                                                <li><a href="/contact">Contact</a></li>
                                            </ul>
                                            <ul class="single-mega cn-col-4">
                                                <li class="title">Catagories</li>
                                                <li><a href="/">Home</a></li>
                                                <li><a href="/categories/1">Catagories</a></li>
                                                <li><a href="/single-article/1">Single Articles</a></li>
                                                <li><a href="/about-us">About Us</a></li>
                                                <li><a href="/contact">Contact</a></li>
                                            </ul>
                                            <div class="single-mega cn-col-4">



                                                <!-- Single Featured Post -->
                                                <%if(typeof megaMenuArticlesData != 'undefined'){  %>
                                                <% megaMenuArticlesData.forEach((megaMenuArticleData)=>{
                                                let d = new Date(megaMenuArticleData.article_date) %>
                                                <div class="single-blog-post small-featured-post d-flex">
                                                    <div class="post-thumb">
                                                        <a href="/single-article/<%=megaMenuArticleData.article_id%>"><img src="/img/bg-img/<%=megaMenuArticleData.image_name%>" alt=""></a>
                                                    </div>
                                                    <div class="post-data">
                                                        <a href="/categories/<%=megaMenuArticleData.category_id%>" class="post-catagory"><%=megaMenuArticleData.category_title%></a>
                                                        <div class="post-meta">
                                                            <a href="/single-article/<%=megaMenuArticleData.article_id%>" class="post-title">
                                                                <h6><%=megaMenuArticleData.article_title%></h6>
                                                            </a>
                                                            <p class="post-date"><span><%=dateAndTime.format(d,' MMMM DD, YYYY')%></span></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <% }) %>
                                                <% } %>

                                            </div>
                                        </div>
                                    </li>

                                    <% if(typeof navigationCategoryData != 'undefined') { %>
                                    <% navigationCategoryData.forEach((navigationCategories)=>{ %>

                                    <li><a href="/categories/<%=navigationCategories.category_id%>"><%=navigationCategories.category_title%></a></li>
                                    

                                    <% }) %>

                                    <% } %>

                                </ul>
                            </div>
                            <!-- Nav End -->
                        </div>
                    </nav>
                </div>
            </div>
        </div>