    <%if(typeof newsSinglePostData != 'undefined'){ %>
    <% newsSinglePostData.forEach((singlePost)=>{ %>
    <div class="col-12 col-md-6">
    <div class="single-blog-post style-3">
        <div class="post-thumb">
            <a href="#"><img src="img/bg-img/<%= singlePost.image %>" alt=""></a>
        </div>
        <div class="post-data">
            <a href="#" class="post-catagory"><%=singlePost.title%></a>
            <a href="#" class="post-title">
                <h6><%=singlePost.textContent%></h6>
            </a>
            <div class="post-meta d-flex align-items-center">
                <a href="#" class="post-like"><img src="img/core-img/<%=singlePost.likeImage%>" alt="">
                    <span><%=singlePost.likeCount%></span></a>
                <a href="#" class="post-comment"><img src="img/core-img/<%=singlePost.chatImage%>" alt="">
                    <span><%=singlePost.chatCount%></span></a>
            </div>
        </div>
    </div>
</div>


<% }) %>

<% } %>


