
                            
                            <!-- Reply Form -->
                            <% if( typeof returnMessageData != 'undefined'){ %>
                                <h4><%= returnMessageData %></h4>
                            <% } %>
                            <div class="contact-form-area">
                                <form action="/contact" method="post">
                                    <div class="row">
                                        <div class="col-12 col-lg-6">
                                            <input type="text" class="form-control" id="name" placeholder="Name*" name="name" value="<%= typeof valuesData != 'undefined' ? valuesData.name: '' %>">
                                        </div>
                                        <div class="col-12 col-lg-6">
                                            <input type="email" class="form-control" id="email" placeholder="Email*"  name="email" value="<%= typeof valuesData != 'undefined' ? valuesData.email: '' %>">
                                        </div>
                                        <div class="col-12">
                                            <input type="text" class="form-control" id="subject" placeholder="subject" name="subject" value="<%= typeof valuesData != 'undefined' ? valuesData.subject: '' %>">
                                        </div>
                                        <div class="col-12">
                                            <textarea name="message" class="form-control" id="message" cols="30" rows="10" placeholder="Message"><%= typeof valuesData != 'undefined' ? valuesData.message: '' %></textarea>
                                        </div>
                                        <div class="col-12 text-center">
                                            <button class="btn newspaper-btn mt-30 w-100" type="submit">Submit Comment</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        