        <% if(typeof mediumFeaturedPostData != 'undefined') { %>
            <% mediumFeaturedPostData.forEach((mediumPostData)=>{ %>

                <div class="single-blog-post featured-post-2">
                    <div class="post-thumb">
                        <a href="/single-article/<%=mediumPostData.article_id%>"><img src="/img/bg-img/<%=mediumPostData.image_name%>" alt=""></a>
                        </div>
                            <div class="post-data">
                                <a href="/categories/<%=mediumPostData.category_id%>" class="post-catagory"><%=mediumPostData.category_title%></a>
                                <div class="post-meta">
                                <a href="/single-article/<%=mediumPostData.article_id%>" class="post-title">
                                <h6><%=mediumPostData.article_title%></h6>
                                </a>
                                <!-- Post Like & Post Comment -->
                                <div class="d-flex align-items-center">
                                <a href="#" class="post-like"><img src="/img/core-img/like.png" alt="">
                                <span><%=mediumPostData.article_comment_count%></span></a>
                                <a href="#" class="post-comment"><img src="/img/core-img/chat.png" alt="">
                                <span><%=mediumPostData.article_like_count%></span></a>
                            </div>
                        </div>
                    </div>
                </div>

            <% }) %>
        <% } %>